@charset "UTF-8";
.current-weather-container {
  min-width: 310px; }

.date-condition-info {
  color: #242424;
  clear: left; }
  .date-condition-info .date {
    font-size: 25px;
    margin: 0; }
  .date-condition-info .description {
    font-size: 20px;
    margin: 5px 0 10px 0; }

.temperature-weathericon {
  font-size: 55px;
  color: #F18274;
  font-weight: bold; }
  .temperature-weathericon .temperature {
    margin-right: 40px; }

.backbtn-cityname {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 460px;
  margin-bottom: 30px; }
  .backbtn-cityname .backbtn {
    margin-right: 20px;
    border: none;
    background-color: transparent; }
    .backbtn-cityname .backbtn:hover {
      cursor: pointer; }
  .backbtn-cityname .cityName {
    margin: 0;
    font-size: 30px;
    color: #242424; }

/* The switch */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 24px;
  margin-top: 5px; }
  .switch input {
    display: none; }

/* The content inside the switch ("째F" and "째C") */
.slider-content {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  margin-top: 2px; }
  .slider-content:before, .slider-content:after {
    position: absolute;
    top: 50%; }
  .slider-content:before {
    content: "째F";
    right: 11px; }
  .slider-content:after {
    content: "째C";
    left: 8px; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 34px;
    left: 0;
    bottom: -2px;
    background-color: black;
    border: 2px solid #242424;
    -webkit-transition: .4s;
    transition: .4s; }
  .slider.round {
    border-radius: 24px; }
    .slider.round:before {
      border-radius: 45%; }

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px); }
