$font-color: #242424;

.date-condition-info {
  color: $font-color;
  clear: left;
  .date {
    font-size: 25px;
    margin: 0;
  }

  .description {
    font-size: 20px;
    margin: 5px 0 10px 0;
  }
}

.temperature-weathericon {
  font-size: 55px;
  color: #F18274;
  font-weight: bold;

  .temperature {
    margin-right: 40px;
  }
}

.backbtn-cityname {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 35vw;
  margin-bottom: 30px;

  .backbtn {
    margin-right: 20px;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  .cityName {
    margin: 0;
    font-size: 30px;
    color: $font-color;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 24px;
  margin-top: 5px;

  input {
    display: none;
  }
}

.slider-content {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  margin-top: 2px;

  &:before, &:after {
    position: absolute;
    top: 50%;
  }

  &:before {
    content: "°F";
    right: 11px;
  }

  &:after {
    content: "°C";
    left: 8px;
  }

}

  /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 34px;
    left: 0;
    bottom: -2px;
    background-color: black;
    border: 2px solid #242424;
    -webkit-transition: .4s;
    transition: .4s;

  }

  &.round {
    border-radius: 24px;

    &:before {
      border-radius: 45%;
    }
  }
}


input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}