.main-container {
  margin: auto;
  text-align: center;
  width: 40vw;
  margin-top: 30vh !important; }

.search-bar {
  width: 40vw;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  min-width: 150px; }
  .search-bar .search {
    text-align: center;
    font-size: 20px;
    width: 40vw;
    height: 50px;
    border: none;
    left: 0;
    color: #63717f;
    border-radius: 5px; }
  .search-bar .search-icon {
    position: absolute;
    margin: 15px;
    border: none;
    background-color: transparent;
    right: 0; }
    .search-bar .search-icon:hover {
      cursor: pointer; }

.current-position-box {
  font-size: 20px; }
  .current-position-box p {
    margin: 40px; }

.current-pos-btn {
  border: none;
  border-radius: 50px;
  color: #242424;
  font-size: 20px;
  background: #D5C186;
  padding: 20px 30px 20px 30px;
  transition-duration: 0.5s; }
  .current-pos-btn:hover {
    background: #E4E3AF;
    cursor: pointer;
    transition-duration: 0.5s; }
